<!-- 
Template A - @pablo
-->
<div id="ws_b">
	<div id="ws_b1">
		<h1>[h1_head]</h1>
		<h4>[h4_head]</h4>


	</div>
	<div id="ws_b2">
		<div id="ws_b2a">
			<div id="ws_b2a1">
				<div class="ws_tb_tl">Telefono</div>
				<div class="ws_tb_val">[phone]</div>
		 
			</div>
			<div id="ws_b2a2">
				<div class="ws_tb_tl">email</div>
				<div class="ws_tb_val">[email]</div>
			</div>
			<div id="ws_b2a3">
				<div class="ws_tb_tl">Indirizzo</div>
				<div class="ws_tb_val">[address]</div>
			</div>
			<div id="ws_b2a5">
				<div id="ws_b2a5_tl">
					orario aperture
				</div>
				<div id="ws_b2a5_val">
					[open_hours]
				</div>
				<div class="ws_b2a5_dial">
					<input type="text" value="3" class="dial_hours">
				 : 
					<input type="text" value="20" class="dial_mins">
				</div>
				<div id="ws_b2a5_bott">
					prima dalla chiusura
				</div>
			</div>
			 

		</div>
		<div id="ws_b2b">
			<div id="ws_b2b1"> 
				MAP 
			</div>
			<div id="ws_b2b2">
				<div id="ws_b2b2a">
					<div id="ws_b2b2a_logo"></div>
				</div>
				<div id="ws_b2b2b">
					<div id="ws_b2b2b1">
						<a href="#"><img src="../zx_web_st/templates/000/imgs/map.png" /></a>
						<a href="#"><img src="../zx_web_st/templates/000/imgs/streetv.png" /></a>
						<a href="#"><img src="../zx_web_st/templates/000/imgs/route.png" /></a>
						<a href="#"><img src="../zx_web_st/templates/000/imgs/help.png" /></a>
			
					</div>
					<div id="ws_b2b2b2">
						<a href="#"><img src="../zx_web_st/templates/000/imgs/face.png" /></a>
						<a href="#"><img src="../zx_web_st/templates/000/imgs/google.png" /></a>
						<a href="#"><img src="../zx_web_st/templates/000/imgs/inst.png" /></a>
						<a href="#"><img src="../zx_web_st/templates/000/imgs/pin.png" /></a>
						<a href="#"><img src="../zx_web_st/templates/000/imgs/twitter.png" /></a>
					</div>

				</div>
		</div>
	</div>
</div>
