<!-- 
Template A - @pablo
-->

<div id="ws_a">
	<div id="ws_a1">
		<div id="whoweare">
			<div id="ws_a1a">
				<div id="ws_a1a1">
				<h1>[title_1]</h1><h2>[title_2]</h2>
					[co_txt1]
				</div>
				<div id="ws_a1a2">
					<img></img>
				</div>
			</div>
			<div id="ws_a1b">
				
				<div id="ws_a1b1">
					[co_txt_2]
				</div>
				<div id="ws_a1b2">
					<h1>[title_3]</h1><h2>[title_4]</h2>
					[co_txt_3]
				</div>
			</div> 
		</div>
		[event_code]
		<div id="prod">
			<div class="ws_prd">
					<div class="ws_prd_img">
					</div>
					<div class="ws_prd_tl1">
							[ws_prd_name]
					</div>
					<div class="ws_prd_sdesc">
							[ws_prd_short_desc]
					</div>
					<div class="ws_prd_status">
					</div>
			</div>

		</div>
		<div id="serv">
			<div class="ws_sv">
				<div class="ws_sv_tl1">
					[ws_sv_tl1]
				</div>
				<div class="ws_sv_tl2">
					[ws_sv_tl2]
				</div>
				<div class="ws_sv_status">
				</div>

			</div>
		 
	</div>
	</div>
	<div id="ws_a2">
		<div class='menu_ws'>
			<div class='menu_ws_item'><a href='#'>
				<div class='menu_ws_des' style='border-bottom: 1px solid #10baaf'>Web Sites</div>
				<div class='menu_ws_id' style='color:#10baaf;border-right: 1px solid #10baaf;'>W</div>
				</a>
			</div>
			<div class='menu_ws_item'><a href='#'>
				<div class='menu_ws_des'  style='border-bottom: 1px solid #9f473d'>Blog</div>
				<div class='menu_ws_id' style='color:#9f473d;border-right: 1px solid #9f473d;'>B</div>
				</a>
			</div>
			<div class='menu_ws_item'><a href='#'>
				<div class='menu_ws_des'  style='border-bottom: 1px solid #e78337'>Eventi</div>
				<div class='menu_ws_id' style='color:#e78337;border-right: 1px solid #e78337;'>E</div>
				</a>
			</div>
		</div> 
	</div>



</div>
	 